.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear alternate;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  margin-top: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(-30deg); }
  to { transform: rotate(30deg); }
}
